---
- name: Download kubectl
  get_url:
    url: "https://dl.k8s.io/release/v{{ kubectl_version }}/bin/linux/amd64/kubectl"
    dest: /usr/local/bin/kubectl
    mode: '0755'

- name: Download Helm
  unarchive:
    src: "https://get.helm.sh/helm-v{{ helm_version }}-linux-amd64.tar.gz"
    dest: /tmp
    remote_src: true

- name: Install Helm
  copy:
    src: /tmp/linux-amd64/helm
    dest: /usr/local/bin/helm
    mode: '0755'
    remote_src: true

- name: Install k9s
  block:
    - name: Download k9s
      unarchive:
        src: "https://github.com/derailed/k9s/releases/latest/download/k9s_Linux_amd64.tar.gz"
        dest: /tmp
        remote_src: true

    - name: Install k9s
      copy:
        src: /tmp/k9s
        dest: /usr/local/bin/k9s
        mode: '0755'
        remote_src: true

- name: Install kubectx and kubens
  block:
    - name: Download kubectx
      get_url:
        url: "https://raw.githubusercontent.com/ahmetb/kubectx/master/kubectx"
        dest: /usr/local/bin/kubectx
        mode: '0755'

    - name: Download kubens
      get_url:
        url: "https://raw.githubusercontent.com/ahmetb/kubectx/master/kubens"
        dest: /usr/local/bin/kubens
        mode: '0755'

- name: Create kubectl completion
  shell: kubectl completion bash > /etc/bash_completion.d/kubectl
  args:
    creates: /etc/bash_completion.d/kubectl
